.payment {
    display: flex;
    flex-direction: column;
}
.payment > table {
    width: 99%;
    border: 1px solid;
    border-spacing: 0px;
    font-size: 16px;
}
.payment > table > thead {
    background-color: #345;
    color: #fff;
    text-align: left;
    font-size: 20px;
}

.payment td {
    padding: 10px;
}
.payment tr:nth-child(even) {
    background-color: #f2f2f2;
  }